{% load staticfiles %}
<html>
    <head>
        <title>MyWebApp</title>
        
        <link href='//fonts.googleapis.com/css?family=Open+Sans|Zilla+Slab|Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="jumbotron">
            <h1><a href="">MyWebApp</a></h1>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>